.head{
font-size: 30px;
text-align: center;
      }

body{text-align: left;}

aside{
      border: 8px;
      color: #5F2999;}

 .goose{border-radius: 40%;}

 .start{background-color: #F5D6B8;}

 .head1{font-weight: bold}